node-red/vitals_tracker_dashboard.json
[
    {
        "id": "f6beeceb2ff821a9",
        "type": "tab",
        "label": "Vital signs tracker",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3c8cb185736aff0b",
        "type": "inject",
        "z": "f6beeceb2ff821a9",
        "d": true,
        "name": "Inject random vital signs",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 680,
        "wires": [
            [
                "8e48cf38aa41bbe2"
            ]
        ]
    },
    {
        "id": "c9039caea2f9a521",
        "type": "ui_table",
        "z": "f6beeceb2ff821a9",
        "group": "6c112b7973bdadcf",
        "name": "Latest vital signs",
        "order": 1,
        "width": "9",
        "height": "3",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 960,
        "y": 960,
        "wires": []
    },
    {
        "id": "80ed99c91475bdad",
        "type": "function",
        "z": "f6beeceb2ff821a9",
        "name": "Bulid select function",
        "func": "let session_id = global.get(\"session_id\");\nlet device_id = global.get(\"device_id\");\nmsg.topic = \"SELECT timestamp,HR,SpO2,BT,AEWS from vital_signs_log where session_id=\"+String(session_id)+\" AND device_id like '\"+String(device_id)+\"' ORDER BY timestamp DESC LIMIT 0,5;\";\nmsg.database = \"/home/ji_aiot_2022/Documents/vital_signs.db\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 960,
        "wires": [
            [
                "65d96032345759ec",
                "aa21e19f3e26eb08"
            ]
        ]
    },
    {
        "id": "47216f73560a5064",
        "type": "inject",
        "z": "f6beeceb2ff821a9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 960,
        "wires": [
            [
                "80ed99c91475bdad"
            ]
        ]
    },
    {
        "id": "8e48cf38aa41bbe2",
        "type": "function",
        "z": "f6beeceb2ff821a9",
        "name": "Random vital signs",
        "func": "msg.hr = 70+(Math.floor(Math.random() * 10));\nmsg.spo2 = 95+(Math.floor(Math.random()*5));\nmsg.bt = Math.round((36+(Math.random()))*100)/100;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 680,
        "wires": [
            [
                "63b2b9cde16ab29a"
            ]
        ]
    },
    {
        "id": "cf4e27d96e3e694e",
        "type": "ui_chart",
        "z": "f6beeceb2ff821a9",
        "name": "Chart: Body temperature 1 h",
        "group": "bc27e4439f9f9b1c",
        "order": 3,
        "width": "3",
        "height": "3",
        "label": "Body temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "35",
        "ymax": "42",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "9593707815f738b9",
        "type": "ui_text_input",
        "z": "f6beeceb2ff821a9",
        "d": true,
        "name": "",
        "label": "Device id",
        "tooltip": "",
        "group": "cff1fad903abe553",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 280,
        "y": 1960,
        "wires": [
            [
                "800ede9f6bcaf88b"
            ]
        ]
    },
    {
        "id": "800ede9f6bcaf88b",
        "type": "debug",
        "z": "f6beeceb2ff821a9",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 1960,
        "wires": []
    },
    {
        "id": "63b2b9cde16ab29a",
        "type": "function",
        "z": "f6beeceb2ff821a9",
        "name": "Calculate AEWS",
        "func": "let aews = 0;\n\nif (msg.spo2 >= 95) aews = aews;\nelse if (msg.spo2 >= 90 && msg.spo2 <= 94) aews = aews + 1;\nelse if (msg.spo >= 85 && msg.spo2 <= 89) aews = aews + 2;\nelse if (msg.spo2 <= 84) aews = aews + 3;\n\nif (msg.hr >= 51 && msg.hr <= 100) aews = aews;\nelse if (msg.hr >= 101 && msg.hr <= 110) aews = aews + 1;\nelse if (msg.hr >= 111 && msg.hr <= 129) aews = aews + 2;\nelse if (msg.hr >= 41 && msg.hr <= 50) aews = aews + 1;\nelse if (msg.hr <= 40) aews = aews + 2;\nelse if (msg.hr >= 130) aews = aews + 3;\n\nif (msg.bt >= 36.1 && msg.bt <= 37.3) aews = aews;\nelse if (msg.bt >= 37.4 && msg.bt <= 38.4) aews = aews + 1;\nelse if (msg.bt >= 35.1 && msg.bt <= 36.0) aews = aews + 1;\nelse if (msg.bt >= 38.5) aews = aews + 2;\nelse if (msg.bt <= 35) aews = aews + 2;\n\nmsg.aews = aews;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 620,
        "wires": [
            [
                "2d5bd29219210afa",
                "a4764cec26c452dd",
                "3ff65bf90706a295"
            ]
        ]
    },
    {
        "id": "2d5bd29219210afa",
        "type": "debug",
        "z": "f6beeceb2ff821a9",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 560,
        "wires": []
    },
    {
        "id": "d10669ae52427508",
        "type": "comment",
        "z": "f6beeceb2ff821a9",
        "name": "Acquiring vital signs",
        "info": "",
        "x": 210,
        "y": 560,
        "wires": []
    },
    {
        "id": "5971b78530efbeb9",
        "type": "link in",
        "z": "f6beeceb2ff821a9",
        "name": "Write vital signs to database",
        "links": [
            "a4764cec26c452dd"
        ],
        "x": 165,
        "y": 820,
        "wires": [
            [
                "ce7234c7d2d03a58"
            ]
        ]
    },
    {
        "id": "3d1e6099953073ee",
        "type": "comment",
        "z": "f6beeceb2ff821a9",
        "name": "Write vital signs to database",
        "info": "",
        "x": 240,
        "y": 760,
        "wires": []
    },
    {
        "id": "ce7234c7d2d03a58",
        "type": "function",
        "z": "f6beeceb2ff821a9",
        "name": "Build insert function",
        "func": "msg.topic = \"INSERT INTO 'vital_signs_log' ('timestamp','device_id','session_id','HR','BT','SpO2',AEWS) values (CURRENT_TIMESTAMP,'\"+String(msg.device_id)+\"',\"+String(msg.session_id)+\",\"+String(msg.hr)+\",\"+String(msg.bt)+\",\"+String(msg.spo2)+\", \"+String(msg.aews)+\");\";\nmsg.database = \"/home/ji_aiot_2022/Documents/vital_signs.db\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 820,
        "wires": [
            [
                "6be4a201d193fbbc",
                "0a17a1ad24538ffb"
            ]
        ]
    },
    {
        "id": "a4764cec26c452dd",
        "type": "link out",
        "z": "f6beeceb2ff821a9",
        "name": "Write vital signs to database",
        "mode": "link",
        "links": [
            "5971b78530efbeb9"
        ],
        "x": 955,
        "y": 620,
        "wires": []
    },
    {
        "id": "2edf531c42b6cf53",
        "type": "comment",
        "z": "f6beeceb2ff821a9",
        "name": "Build dashboard",
        "info": "",
        "x": 200,
        "y": 900,
        "wires": []
    },
    {
        "id": "378c0bf909f24530",
        "type": "ui_chart",
        "z": "f6beeceb2ff821a9",
        "name": "Chart: Heart rate 1 h",
        "group": "bc27e4439f9f9b1c",
        "order": 1,
        "width": "3",
        "height": "3",
        "label": "Heart rate last 1 h",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "20",
        "ymax": "200",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#d62728",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#cc0000",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 580,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "a5ce7ed097a31679",
        "type": "function",
        "z": "f6beeceb2ff821a9",
        "name": "Prepare HR",
        "func": "msg.payload = msg.hr;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1120,
        "wires": [
            [
                "378c0bf909f24530",
                "953cf82960805b1d",
                "dbceb403970bd0a8",
                "38627e585e7f41c5"
            ]
        ]
    },
    {
        "id": "aebffd98bc035b79",
        "type": "function",
        "z": "f6beeceb2ff821a9",
        "name": "Prepare BT",
        "func": "msg.payload = msg.bt;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1500,
        "wires": [
            [
                "9cd9eed1d5113f0a",
                "cf4e27d96e3e694e",
                "5451cfef8c0843c8",
                "6361ffc2715b8c05"
            ]
        ]
    },
    {
        "id": "84da6baae13c0b71",
        "type": "ui_chart",
        "z": "f6beeceb2ff821a9",
        "name": "Chart: SpO2 1 h",
        "group": "bc27e4439f9f9b1c",
        "order": 2,
        "width": "3",
        "height": "3",
        "label": "SpO2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "50",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "5c21f084f5fb23a4",
        "type": "function",
        "z": "f6beeceb2ff821a9",
        "name": "Prepare SpO2",
        "func": "msg.payload = msg.spo2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1260,
        "wires": [
            [
                "84da6baae13c0b71",
                "cbe9aa25ccc1dcab",
                "9dc397333a428b90",
                "47d361a8f45ca0ee"
            ]
        ]
    },
    {
        "id": "953cf82960805b1d",
        "type": "ui_gauge",
        "z": "f6beeceb2ff821a9",
        "name": "Gauge: HR",
        "group": "cff1fad903abe553",
        "order": 6,
        "width": "3",
        "height": "2",
        "gtype": "gage",
        "title": "Heart rate",
        "label": "/min",
        "format": "{{value}}",
        "min": "50",
        "max": "150",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 550,
        "y": 1160,
        "wires": []
    },
    {
        "id": "9cd9eed1d5113f0a",
        "type": "ui_gauge",
        "z": "f6beeceb2ff821a9",
        "name": "Gauge: BT",
        "group": "cff1fad903abe553",
        "order": 4,
        "width": "3",
        "height": "2",
        "gtype": "gage",
        "title": "Body temperature",
        "label": "celsius",
        "format": "{{value}}",
        "min": "30",
        "max": "42",
        "colors": [
            "#d62728",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 550,
        "y": 1540,
        "wires": []
    },
    {
        "id": "cbe9aa25ccc1dcab",
        "type": "ui_gauge",
        "z": "f6beeceb2ff821a9",
        "name": "Gauge: SpO2",
        "group": "cff1fad903abe553",
        "order": 5,
        "width": "3",
        "height": "2",
        "gtype": "gage",
        "title": "SpO2",
        "label": "celsius",
        "format": "{{value}}",
        "min": "70",
        "max": "100",
        "colors": [
            "#d62728",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 560,
        "y": 1340,
        "wires": []
    },
    {
        "id": "48f990a3dcd455ab",
        "type": "function",
        "z": "f6beeceb2ff821a9",
        "name": "Prepare AEWS",
        "func": "msg.payload = msg.aews;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1580,
        "wires": [
            [
                "8b20d6fe5de25a66",
                "129d5880899d9643"
            ]
        ]
    },
    {
        "id": "8b20d6fe5de25a66",
        "type": "ui_gauge",
        "z": "f6beeceb2ff821a9",
        "name": "Gauge: AEWS",
        "group": "cff1fad903abe553",
        "order": 3,
        "width": "9",
        "height": "2",
        "gtype": "gage",
        "title": "AEWS",
        "label": "celsius",
        "format": "{{value}}",
        "min": "0",
        "max": "8",
        "colors": [
            "#00b500",
            "#f57900",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 560,
        "y": 1580,
        "wires": []
    },
    {
        "id": "a73ec45fa5e08cfc",
        "type": "link in",
        "z": "f6beeceb2ff821a9",
        "name": "Build dashboard charts",
        "links": [
            "3ff65bf90706a295"
        ],
        "x": 175,
        "y": 1120,
        "wires": [
            [
                "a5ce7ed097a31679",
                "5c21f084f5fb23a4",
                "aebffd98bc035b79",
                "48f990a3dcd455ab"
            ]
        ]
    },
    {
        "id": "3ff65bf90706a295",
        "type": "link out",
        "z": "f6beeceb2ff821a9",
        "name": "Send to build charts",
        "mode": "link",
        "links": [
            "a73ec45fa5e08cfc"
        ],
        "x": 955,
        "y": 660,
        "wires": []
    },
    {
        "id": "7bebbccb9f851d10",
        "type": "function",
        "z": "f6beeceb2ff821a9",
        "name": "Get last hour average HR",
        "func": "msg.topic = \"select round(((julianday(current_timestamp) - julianday(timestamp)) * 24) - 0.5) as hours_ago, avg(HR) as avg_hr from vital_signs_log group by hours_ago;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1860,
        "wires": [
            [
                "fc1499537b3cda9a"
            ]
        ]
    },
    {
        "id": "d785982aecb4cf66",
        "type": "inject",
        "z": "f6beeceb2ff821a9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 1860,
        "wires": [
            [
                "7bebbccb9f851d10"
            ]
        ]
    },
    {
        "id": "d9048cdb0fa1f92b",
        "type": "debug",
        "z": "f6beeceb2ff821a9",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 1860,
        "wires": []
    },
    {
        "id": "dbceb403970bd0a8",
        "type": "ui_chart",
        "z": "f6beeceb2ff821a9",
        "name": "Chart: Heart rate 6 h",
        "group": "7dd57dd1217913b9",
        "order": 1,
        "width": "3",
        "height": "3",
        "label": "Heart rate last 6 h",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "20",
        "ymax": "200",
        "removeOlder": "6",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#d62728",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#cc0000",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 580,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "38627e585e7f41c5",
        "type": "ui_chart",
        "z": "f6beeceb2ff821a9",
        "name": "Chart: Heart rate 15 min",
        "group": "1aa8b2e09ac501dc",
        "order": 1,
        "width": "3",
        "height": "3",
        "label": "Heart rate",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "20",
        "ymax": "200",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#d62728",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#cc0000",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "47d361a8f45ca0ee",
        "type": "ui_chart",
        "z": "f6beeceb2ff821a9",
        "name": "Chart: SpO2 6 h",
        "group": "7dd57dd1217913b9",
        "order": 2,
        "width": "3",
        "height": "3",
        "label": "SpO2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "50",
        "ymax": "100",
        "removeOlder": "6",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "9dc397333a428b90",
        "type": "ui_chart",
        "z": "f6beeceb2ff821a9",
        "name": "Chart: SpO2 15 min",
        "group": "1aa8b2e09ac501dc",
        "order": 2,
        "width": "3",
        "height": "3",
        "label": "SpO2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "50",
        "ymax": "100",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 580,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "6361ffc2715b8c05",
        "type": "ui_chart",
        "z": "f6beeceb2ff821a9",
        "name": "Chart: Body temperature 6 h",
        "group": "7dd57dd1217913b9",
        "order": 3,
        "width": "3",
        "height": "3",
        "label": "Body temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "35",
        "ymax": "42",
        "removeOlder": "6",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "5451cfef8c0843c8",
        "type": "ui_chart",
        "z": "f6beeceb2ff821a9",
        "name": "Chart: Body temperature 15 min",
        "group": "1aa8b2e09ac501dc",
        "order": 3,
        "width": "3",
        "height": "3",
        "label": "Body temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "35",
        "ymax": "42",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "085571d80afdfdf9",
        "type": "comment",
        "z": "f6beeceb2ff821a9",
        "name": "Get hourly average",
        "info": "",
        "x": 250,
        "y": 1800,
        "wires": []
    },
    {
        "id": "d03df986a9f85ed8",
        "type": "comment",
        "z": "f6beeceb2ff821a9",
        "name": "Device id",
        "info": "",
        "x": 220,
        "y": 1920,
        "wires": []
    },
    {
        "id": "b7c78ac95a49d41d",
        "type": "mqtt in",
        "z": "f6beeceb2ff821a9",
        "name": "",
        "topic": "iot/tracker-001/#",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "cd02ebd2bff24819",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 380,
        "wires": [
            [
                "edc58030ab1d4722"
            ]
        ]
    },
    {
        "id": "b932fa6a267b97b7",
        "type": "comment",
        "z": "f6beeceb2ff821a9",
        "name": "Getting data from tracker",
        "info": "",
        "x": 230,
        "y": 320,
        "wires": []
    },
    {
        "id": "edc58030ab1d4722",
        "type": "function",
        "z": "f6beeceb2ff821a9",
        "name": "Get device and session id",
        "func": "msg.device_id = msg.topic.split(\"/\")[1];\nmsg.session_id = msg.topic.split(\"/\")[2];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 380,
        "wires": [
            [
                "774d9429ee708e92",
                "b5dab99b574d2e23"
            ]
        ]
    },
    {
        "id": "b7704c3c3e6151f5",
        "type": "debug",
        "z": "f6beeceb2ff821a9",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 460,
        "wires": []
    },
    {
        "id": "774d9429ee708e92",
        "type": "json",
        "z": "f6beeceb2ff821a9",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 790,
        "y": 380,
        "wires": [
            [
                "b967235d74f7eb01"
            ]
        ]
    },
    {
        "id": "2bcdddeb6618ba8d",
        "type": "inject",
        "z": "f6beeceb2ff821a9",
        "name": "vital signs example",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "iot/tracker-001/8",
        "payload": "{    \"device_id\":\"tracker-001\",    \"session_id\":8,    \"hr\":70,    \"spo2\":96,    \"bt\":36.5 }",
        "payloadType": "str",
        "x": 290,
        "y": 440,
        "wires": [
            [
                "edc58030ab1d4722"
            ]
        ]
    },
    {
        "id": "b967235d74f7eb01",
        "type": "function",
        "z": "f6beeceb2ff821a9",
        "name": "Extract vital signs",
        "func": "msg.hr = msg.payload.hr;\nmsg.spo2 = msg.payload.spo2;\nmsg.bt = msg.payload.bt;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 380,
        "wires": [
            [
                "b7704c3c3e6151f5",
                "2870fd4f3b11ae5e"
            ]
        ]
    },
    {
        "id": "2870fd4f3b11ae5e",
        "type": "link out",
        "z": "f6beeceb2ff821a9",
        "name": "Process vital signs",
        "mode": "link",
        "links": [
            "58620c586de6d1ad"
        ],
        "x": 1175,
        "y": 380,
        "wires": []
    },
    {
        "id": "58620c586de6d1ad",
        "type": "link in",
        "z": "f6beeceb2ff821a9",
        "name": "Process vital signs",
        "links": [
            "2870fd4f3b11ae5e"
        ],
        "x": 155,
        "y": 620,
        "wires": [
            [
                "63b2b9cde16ab29a"
            ]
        ]
    },
    {
        "id": "d14b4dd31717f713",
        "type": "ui_audio",
        "z": "f6beeceb2ff821a9",
        "name": "Abnormal AEWS warning",
        "group": "cff1fad903abe553",
        "voice": "urn:moz-tts:speechd:English%20(America)?en",
        "always": "",
        "x": 1210,
        "y": 1620,
        "wires": []
    },
    {
        "id": "129d5880899d9643",
        "type": "switch",
        "z": "f6beeceb2ff821a9",
        "d": true,
        "name": "?Abnormal AEWS?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 1620,
        "wires": [
            [
                "4f33934170f69405"
            ]
        ]
    },
    {
        "id": "4f33934170f69405",
        "type": "function",
        "z": "f6beeceb2ff821a9",
        "name": "Create abnormal AEWS warning message",
        "func": "msg.payload = \"Abnormal Early warning score\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 1620,
        "wires": [
            [
                "d14b4dd31717f713"
            ]
        ]
    },
    {
        "id": "a6f1982cf33733cf",
        "type": "inject",
        "z": "f6beeceb2ff821a9",
        "name": "Abnormal vital signs example",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "iot/tracker-001/8",
        "payload": "{    \"device_id\":\"tracker-001\",    \"session_id\":8,    \"hr\":140,    \"spo2\":91,    \"bt\":39.5 }",
        "payloadType": "str",
        "x": 320,
        "y": 500,
        "wires": [
            [
                "edc58030ab1d4722"
            ]
        ]
    },
    {
        "id": "1e57a73c73b7ae5b",
        "type": "comment",
        "z": "f6beeceb2ff821a9",
        "name": "Device initiation (Power on)",
        "info": "Initiate device when power on for the first time",
        "x": 230,
        "y": 40,
        "wires": []
    },
    {
        "id": "8e9465d1918346b3",
        "type": "mqtt in",
        "z": "f6beeceb2ff821a9",
        "name": "Subscribe to device registration channel",
        "topic": "iot/register/tracker-001",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cd02ebd2bff24819",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 100,
        "wires": [
            [
                "fc868f157308fa0f"
            ]
        ]
    },
    {
        "id": "fc868f157308fa0f",
        "type": "function",
        "z": "f6beeceb2ff821a9",
        "name": "Set session_id",
        "func": "msg.session_id = msg.payload;\nglobal.set(\"session_id\",msg.payload);\nglobal.set(\"device_id\",\"tracker-001\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "aa21e19f3e26eb08",
        "type": "debug",
        "z": "f6beeceb2ff821a9",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 900,
        "wires": []
    },
    {
        "id": "4f6274e37cc50b5c",
        "type": "ui_text",
        "z": "f6beeceb2ff821a9",
        "group": "cff1fad903abe553",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Device id:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1000,
        "y": 440,
        "wires": []
    },
    {
        "id": "b5dab99b574d2e23",
        "type": "function",
        "z": "f6beeceb2ff821a9",
        "name": "Device id text",
        "func": "msg.payload = String(msg.device_id)+\"-\"+String(msg.session_id);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 440,
        "wires": [
            [
                "4f6274e37cc50b5c"
            ]
        ]
    },
    {
        "id": "65d96032345759ec",
        "type": "queuedsqlite",
        "z": "f6beeceb2ff821a9",
        "mydb": "563fac2488f91284",
        "sqlquery": "msg.topic",
        "dbName": "msg.database",
        "db": "",
        "sql": "",
        "name": "select from database",
        "x": 720,
        "y": 960,
        "wires": [
            [
                "c9039caea2f9a521"
            ]
        ]
    },
    {
        "id": "6be4a201d193fbbc",
        "type": "queuedsqlite",
        "z": "f6beeceb2ff821a9",
        "mydb": "563fac2488f91284",
        "sqlquery": "msg.topic",
        "dbName": "msg.database",
        "db": "",
        "sql": "",
        "name": "Write to database",
        "x": 550,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "fc1499537b3cda9a",
        "type": "queuedsqlite",
        "z": "f6beeceb2ff821a9",
        "mydb": "563fac2488f91284",
        "sqlquery": "msg.topic",
        "dbName": "fixed",
        "db": "/home/ji/Documents/vital_signs.db",
        "sql": "",
        "name": "Get average previous hour HR",
        "x": 810,
        "y": 1860,
        "wires": [
            [
                "d9048cdb0fa1f92b"
            ]
        ]
    },
    {
        "id": "0a17a1ad24538ffb",
        "type": "sqlite",
        "z": "f6beeceb2ff821a9",
        "d": true,
        "mydb": "f4ecd786b14ff578",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Write to database",
        "x": 550,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "9b17f47f7690fa20",
        "type": "ui_button",
        "z": "f6beeceb2ff821a9",
        "name": "",
        "group": "cff1fad903abe553",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear chart",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 1040,
        "wires": [
            [
                "38627e585e7f41c5",
                "378c0bf909f24530",
                "dbceb403970bd0a8",
                "953cf82960805b1d",
                "9dc397333a428b90",
                "84da6baae13c0b71",
                "47d361a8f45ca0ee",
                "cbe9aa25ccc1dcab",
                "5451cfef8c0843c8",
                "cf4e27d96e3e694e",
                "6361ffc2715b8c05",
                "9cd9eed1d5113f0a",
                "8b20d6fe5de25a66"
            ]
        ]
    },
    {
        "id": "6c112b7973bdadcf",
        "type": "ui_group",
        "name": "Vital signs table",
        "tab": "1a08348d976afc3f",
        "order": 6,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bc27e4439f9f9b1c",
        "type": "ui_group",
        "name": "last 1 h",
        "tab": "1a08348d976afc3f",
        "order": 4,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cff1fad903abe553",
        "type": "ui_group",
        "name": "Latest",
        "tab": "1a08348d976afc3f",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7dd57dd1217913b9",
        "type": "ui_group",
        "name": "last 6 h",
        "tab": "1a08348d976afc3f",
        "order": 5,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1aa8b2e09ac501dc",
        "type": "ui_group",
        "name": "last 15 mins",
        "tab": "1a08348d976afc3f",
        "order": 3,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cd02ebd2bff24819",
        "type": "mqtt-broker",
        "name": "Local MQTT broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "563fac2488f91284",
        "type": "sqliteQueuedDb",
        "db": "/home/ji_aiot_2022/Documents/vital_signs.db",
        "mode": "RWC"
    },
    {
        "id": "f4ecd786b14ff578",
        "type": "sqlitedb",
        "db": "/home/ji/Documents/vital_signs.db",
        "mode": "RWC"
    },
    {
        "id": "1a08348d976afc3f",
        "type": "ui_tab",
        "name": "Vital signs tracker",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]